---
layout: workshop      # DON'T CHANGE THIS.
root: .               # DON'T CHANGE THIS.
venue: "Compute Ontario Summer School - University of Ottawa"        # brief name of host site without address (e.g., "Euphoric State University")
address: "125 University Road, Ottawa, ON"      # street address of workshop (e.g., "123 Forth Street, Blimingen, Euphoria")
country: "ca"      # country (lowercase two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_3166-1)
language: "en"     # language (lowercase two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_639-1)
latlng: "45.421530,-83.018219"       # fractional latitude and longitude (e.g., "41.7901128,-87.6007318"; you can use http://www.latlong.net/)
humandate: "Aug 8-12, 2016"    # human-readable date (e.g., "Feb 17-18, 2020")
humantime: "9:30 am - 4:30 pm"    # human-readable time (e.g., "9:00 am - 4:30 pm")
startdate: 2016-08-08      # use YYYY-MM-DD format like 2015-01-01
enddate: 2016-08-12        # use YYYY-MM-DD format like 2015-01-02
instructor: ["Jeff Stafford", "Hartmut Schmider", "Gang Liu", "Marcelo Ponce", "Pawel Pomorski", "Sergey Mashchenko"] # list of names like ["Kay McNulty", "Betty Jennings", "Betty Snyder"]
helper: ["Nabil Benabbou"]     # list of names like ["Marlyn Wescoff", "Fran Bilas", "Ruth Lichterman"]
contact: "jeff.stafford@queensu.ca"      # contact email address for workshop organizer, such as "grace@hopper.org"
etherpad:         # optional (insert the URL for your Etherpad if you're using one)
eventbrite:       # optional (insert the alphanumeric key for Eventbrite registration, e.g., "1234567890AB")
---


<!-- See instructions in the comments below for how to edit specific sections of this workshop template. -->



<!--
  HEADER

  Edit the values in the block above to be appropriate for your workshop.
  If the value is not 'true', 'false', 'null', or a number, please use
  double quotation marks around the value, unless specified otherwise.
  And run 'tools/check' *before* committing to make sure that changes are good.
-->

<!--
  EVENTBRITE

  This block includes the Eventbrite registration widget if
  'eventbrite' has been set in the header.  You can delete it if you
  are not using Eventbrite, or leave it in, since it will not be
  displayed if the 'eventbrite' field in the header is not set.
-->
{% if page.eventbrite %}
<iframe
  src="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="248px"
  scrolling="auto">
</iframe>
{% endif %}

<!-- <h4>This is the workshop template.  Use it to create your own website.
Delete this line and email the link to your workshop page to admin@software-carpentry.org.
If this is a self organized workshop, please be sure to include any other details
Software Carpentry staff may need to know in your email.</h4> -->


<h2 id="general">General Information</h2>

<!--
  INTRODUCTION

  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p>
  The Compute Ontario Summer School on High Performance and Technical Computing
  is an annual educational event for graduate/undergraduate students, postdocs,
  and researchers who are engaged in compute intensive research. Held geographically
  in the west, centre and east of the province of Ontario, the summer school provides attendees
  with the opportunity to learn and share knowledge and experience in high performance
  and technical computing on modern HPC platforms.
</p>

<p>
  This is the website for Compute Ontario Summer School East (University of Ottawa), hosted by
  the Centre for Advanced Computing. This year's workshop is divided into two different streams 
  focusing on topics in either general programming/data analysis or parallel programming/high performance computing.
</p>

<p id="Stream 2">
  <strong>Stream 1</strong> of this year's workshop is focused on data analysis and general purpose programming.
  Students will learn how to use the command-line, write programs in R and Python, handle data using SQL,
  use Git for version control, and receive a primer on visualization. No prior computing experience is needed for
  this stream and is appropriate for anyone wanting to learn more about programming and high performance computing.
</p>

<p id="Stream 2">
  <strong>Stream 2</strong> of this year's summer school covers advanced topics in high performance computing, with a focus 
  on parallel programming. The topics of this stream include shared memory programming with OpenMP, parallel programming
  with the Posix Thread Library, distributed memory programming with MPI, and programming GPUs with CUDA. Although no prior 
  experience with parallel programming is required, basic Linux familiarity and skills with C, C++, or Fortran is expected. 
</p>

<hr/>

<!--
  SCHEDULE

  Show the workshop's schedule.  Edit the items and times in the table
  to match your plans.  You may also want to change 'Day 1' and 'Day
  2' to be actual dates or days of the week.
-->
<h2 id="schedule">Schedule</h2>

{% if page.latlng %}
<p>
  All classes will take place in Montpetit Hall, rooms 141-142 ({{page.address}}). Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<div class="row">
  <div class="col-md-6">
    <h3>Stream 1 - MNT 141</h3>
    <table class="table table-striped">
      <tr> <td>Aug 8</td>   <td>Introduction to Unix Shell Programming and Makefiles</td> </tr>
      <tr> <td>Aug 9</td>   <td>Programming with R</td> </tr>
      <tr> <td>Aug 10</td>  <td>Programming with Python</td> </tr>
      <tr> <td>Aug 11</td>  <td>Introduction to SQL and Version Control with Git</td> </tr>
      <tr> <td>Aug 12</td>  <td>Visualization</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Stream 2 - MNT 142</h3>
    <table class="table table-striped">
      <tr> <td>Aug 8</td>   <td>Introduction to Unix Shell Programming and Makefiles</td> </tr>
      <tr> <td>Aug 9</td>   <td>Shared-Memory Programming With OpenMP</td> </tr>
      <tr> <td>Aug 10</td>  <td>Parallel Programming with the Posix Thread Library</td> </tr>
      <tr> <td>Aug 11</td>  <td>Distributed-Memory Programming With MPI</td> </tr>
      <tr> <td>Aug 12</td>  <td>Programming GPUs</td> </tr>
    </table>
  </div>
</div>

<!--
  ETHERPAD

  At `_misc/etherpad.txt` you will find a template for the etherpad.

  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to

      http://pad.software-carpentry.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop,
  e.g., '2015-06-10-esu'.
-->
{% if page.etherpad %}
<p id="etherpad">
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>

<!--
  SYLLABUS

  Show what topics will be covered.

  1. If your workshop is R rather than Python, remove the comment
     around that section and put a comment around the Python section.
  2. Some workshops will delete SQL.
  3. Please make sure the list of topics is synchronized with what you
     intend to teach.
  4. You may need to move the div's with class="col-md-6" around inside
     the div's with class="row" to balance the multi-column layout.

  This is one of the places where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->
<h2 id="requirements">Registration and setup</h2>

All students should register for the course at 
<a href="https://www.sharcnet.ca/events/ss2016/?page=register_east&site=east">https://www.sharcnet.ca/events/ss2016/?page=register_east&site=east</a>
if they wish to attend. Beyond registration, students should bring a laptop and install the software specific to the stream of the 
workshop they wish to attend (see below).

<h3 id="setup1">Stream 1 software</h3>
<p>
  The goal of this stream is to get started with R, Python, and other tools on both students' laptops 
  as well as HPC environments like those provided by CAC. Because of this, students will want to install 
  the software listed below. For students encountering difficulties, installation help will be provided 
  at the workshop.
</p>
<ul>
  <li><a href="http://mobaxterm.mobatek.net/">MobaXterm</a> (Windows users only)</li>
  <li><a href="https://www.r-project.org/">R</a></li>
  <li><a href="https://www.rstudio.com/products/rstudio/download/preview/">RStudio Release Preview</a></li>
  <li>Python 3 (we recommend <a href="https://www.continuum.io/why-anaconda">Anaconda</a>)</li>
  <li><a href="https://www.jetbrains.com/pycharm/">PyCharm Community Edition</a></li>
  <li><a href="https://www.sqlite.org/2016/sqlite-tools-win32-x86-3130000.zip">SQLite3</a> (Windows users only)</li>
  <li><a href="https://git-scm.com/">Git</a></li>
</ul>

<h3 id="setup2">Stream 2 software</h3>
<p>
Due to this stream's focus on parallel computing frameworks and performance optimization, we will be working remotely on
machines provided by CAC. Attendees do not need any special software beyond a SSH client 
(preinstalled on OSX/Linux, we recommend <a href ="http://mobaxterm.mobatek.net/">MobaXterm</a> on Windows).
</p>

<hr/>

<h2 id="materials">Course materials</h2>
<p>
  Slides and course materials will appear here as the workshop progresses.
</p>

<hr/>

<h2 id="contact">Additional information</h2>
<p>
  The other webpage for this workshop is located <a href="https://www.sharcnet.ca/events/ss2016/?page=about">here</a>.
</p>

<p id="contact">
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  if you wish to get in touch or need more information.
</p>

</div>
